local.properties
.gradle/
.idea/
**/build/
*.iml
*.jks
*.keystore
keystore.properties
*.pem
*.p12
.env
local.env
*.log

node_modules/
package-lock.json
.expo/
android/.gradle/
android/app/build/
ios/Pods/

